$dark : #252a34;
$accent : #ff2e63;
$light : #eaeaea;
$main :  #08d9d6;

:host{
  display: inline-block;
}

/* algunas prop de css-grid son incompatible con .sass, por ejemplo para grid-template-area no se puede definir el lugar donde las filas y columnas */
.card{
  // por defecto la prop box-sizing no considera el padding para definir el tamaño de la card
  // si se poner border-box va considerar el padding como tamaño del card
  box-sizing: border-box;
  font-weight: slim;
  background: white;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.12) 0 1px 2px rgba(0,0,0,0.24);
  text-align: center;
  padding: 1.5em;
  display: grid;
  /* 4 columnas, q cada columna se divide a 1 fraccion del total del ancho del elemento */
  /* repeat es una funcion del modulo de css-grid, q tiene 2 argumentos, las vece q va repetir y el otro q valor se va repetir */
  /* eso es como decir: grid-template-columns: 1fr 1fr 1fr 1fr */
  grid-template-columns: repeat(4,1fr);
  /* 3 filas, q cada fila toma el espacio q requiera */
  grid-template-rows: repeat(3,auto);
  /* permite asignar nombres a areas q ocupen varias columnas o filas, o una sola columna y una sola fila */
  grid-template-areas:
  "icon icon temperature temperature"
  "lowtemp lowtemp hightemp hightemp"
  "description description description description";
}

.card .temp{
  grid-area: temperature;
  p{
    margin: 0;
  }
  .big{
    font-size: 2em;
    color: $main;
    font-weight: bold;
  }
}

.card .icon {
  grid-area: icon;
}

.card .description {
  grid-area: description;
  h2{
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: $accent;
  }
}

.low-temp{
  grid-area: lowtemp;
}
.high-temp{
  grid-area: hightemp;
}

.low-temp, .high-temp{
  color: $accent;
  span{
    color: $dark;
    opacity: 0.56;
    font-size: 0.6em;
  }
}
