<!-- el pipe async conoce q lo q viene es un observable o una promesa, espera realice o cumpla la promesa o q el observable envie nuevos datos y luego recibirlos e imprimirlos  -->
<!-- funciona con los objetos o estructura q envia informacion asincrono -->
<!-- se suscribe al observable y cuando se recbe informacion se imprime y adicional se le da formato json-->
<!-- {{weatherService.weather$ | async | json}} -->

<div class="card" *ngIf="weatherService.weather$ | async as weather">
  <div class="icon"></div>
  <div class="temp">
    <p>Temperatura</p>
    <p class="big">{{weather.temp}}°</p>
  </div>
  <div class="description">
    <h2>{{weather.name}}</h2>
    <p>{{weather.description}}</p>
  </div>
</div>
