/* algunas prop de css-grid son incompatible con sass, por ejemplo para grid-template-area no se puede definir el lugar donde las filas y columnas */
.card{
  font-weight: slim;
  background: white;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.12) 0 1px 2px rgba(0,0,0,0.24);
  text-align: center;
  padding:  2em;
  display: grid;
  /* 4 columnas, q cada columna se divide a 1 fraccion del total del ancho del elemento */
  /* repeat es una funcion del modulo de css-grid, q tiene 2 argumentos, las vece q va repetir y el otro q valor se va repetir */
  /* eso es como decir: grid-template-columns: 1fr 1fr 1fr 1fr */
  grid-template-columns: repeat(4,1fr);
  /* 3 filas, q cada fila toma el espacio q requiera */
  grid-template-rows: repeat(3,auto);
  /* permite asignar nombres a areas q ocupen varias columnas o filas, o una sola columna y una sola fila */
  grid-template-areas:
  "icon icon temperature temperature"
  "lowtemp lowtemp highttemp highttemp"
  "description description description description";
}

.card .temp{
  grid-area: temperature;
}

.card .icon {
  grid-area: icon;
}

.card .description {
  grid-area: description;
}
